body {
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #333;
    color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    bottom: 0;
    width: 100%;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    /* 確保內容不被頁腳遮擋 */
}

.form-container {
    background-color: #ffffff;
    padding: 40px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #00acc1;
    outline: none;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
}

.input-group label {
    position: absolute;
    left: 5%;
    top: 20px;
    color: #00acc1;
    font-size: 16px;
    margin-bottom: 5px; /* 增加標籤和輸入框之間的距離 */
    transition: all 0.3s ease;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: -20px;
    font-size: 12px;
    color: #007c91;
}

.btn {
    background-color: #007c91;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 80%;
}

.btn:hover {
    transform: scale(1.1);
}

.register-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-section span {
    color: #005f73;
    font-size: 14px;
    margin-right: 10px;
}

.login-btn {
    background-color: #0288d1;
}

.navbar_admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    display: flex;
    gap: 10px;
}


